#combo {
    display: flex;
    gap: 0.25rem;
    position: relative;
    --combo-border-radius: 5px;
}

#combo input {
    width: 30rem;
    border-radius: var(--combo-border-radius);
    border: 1px solid grey;
    outline: none;
    padding: 0.5rem 0.5rem;
    font-size: inherit;
}

#combo button {
    background-color: slateblue;
    color: white;
    width: 200px;
    font-size: inherit;
    font-weight: inherit;
    border: none;
    border-radius: var(--combo-border-radius);
}

#matches {
    position: absolute;
    top: 2.6rem;
    left: 0.25rem;
    border: 1px solid lightgray;
    background: white;
    width: 30rem;
    box-sizing: border-box;
    display: none;
}

#matches>div {
    padding: 0.1rem 0.5rem;
}

#matches>div:focus {
    background-color: bisque;
    outline: none;
}